@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
  background-color:68B0AB;
  line-height:1;
  word-wrap: break-word;
  max-width:100vw;
}
h1{
    text-align:center;
    justify-content: center;
    font-size: 116px;
    color:C8D5B9;
}

h2{
    text-align: center;
    font-size: 2vw;
    color: FAF3DD;
    font-weight: bold;
}

p{
  text-align: center;
  font-size: 3vw;
  color:FAF3DD;
 
}

body {
  font-family: 'Comfortaa', cursive;
  display: block;
  overflow:auto;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:8FC0A9; 
}
 
::-webkit-scrollbar-thumb {
  background: C8D5B9; 
}

::-webkit-scrollbar-thumb:hover {
  background:FAF3DD; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0%;
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
  position: relative;
  font-size: 3vw; 
  font-weight:bolder;
}

li {
  float: left;
  border-radius: 1px solid darkslategray;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: FAF3DD;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link {
  color: C8D5B9;
}

a:visited {
  color: FAF3DD;
}

a:hover {
  color: 8FC0A9;
}

a:active {
  color: 8FC0A9;
}