@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
  background-color: #68B0AB;
  align-items:center;
  line-height:1;
  word-wrap: break-word;
}

h1{
    text-align:center;
    font-size: 116px;
    color:C8D5B9;
}

p{
  text-align: center;
  font-size: 3vw;
  color: #FAF3DD;
 
}

h2{
  text-align:center;
  font-size: 30px;
}

body {
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:auto;
  margin: 0;
}

.container {
  display: flex;
  width: 100vw;

}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 100px;
  border-color: 8FC0A9;
  border-style:solid;
  color: #FAF3DD;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 36px;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:#8FC0A9; 
}
 
::-webkit-scrollbar-thumb {
  background: #C8D5B9; 
}

::-webkit-scrollbar-thumb:hover {
  background: #FAF3DD; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
  position:relative;
  font-size: 3vw; 
  font-weight:bolder;
}

li {
  float: left;
  border-radius: 1px solid darkslategray;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color:FAF3DD;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link {
  color: #C8D5B9;
}

a:visited {
  color: #FAF3DD;
}

a:hover {
  color: #8FC0A9;
}

a:active {
  color: #8FC0A9;
}

/*68B0AB, 8FC0A9, C8D5B9, FAF3DD */

div.tooltip{
  text-align: center;
  font-size: 3vw;
  color:#FAF3DD;

}