@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
  background-color:68B0AB;
  line-height:1;
  word-wrap: break-word;
  
}
h1{
    text-align:center;
    justify-content: center;
    font-size: 116px;
    color:darkslategray;
}

p{
  text-align: center;
  font-size: 3vw;
  color:FAF3DD;
 
}

body {
  font-family: 'Comfortaa', cursive;
  display: block;
  overflow:auto;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background:8FC0A9; 
}
 
::-webkit-scrollbar-thumb {
  background: C8D5B9; 
}

::-webkit-scrollbar-thumb:hover {
  background:FAF3DD; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0%;
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
  position: relative;
  font-size: 3vw; 
  font-weight:bolder;
}

li {
  float: left;
  border-radius: 1px solid darkslategray;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: FAF3DD;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:link {
  color: C8D5B9;
  background-color: transparent;
}

a:visited {
  color: FAF3DD;
}

a:hover {
  color: 8FC0A9;
}

a:active {
  color:  8FC0A9;
}

button {
    border: none;
    color: FAF3DD;
    padding: 10%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    transition-duration: 0.4s;
    cursor: pointer;
    justify-content:left;
    border-radius: 12px;

  }
  
  button.button1 {
    background-color: 8FC0A9;
    background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size:cover;
    background-repeat: no-repeat;
    color: FAF3DD; 
    border: 2px solid 68B0AB;
    text-align: left;
      ;
  }
  
  button.button1:hover {
    background-color: C8D5B9;
    color: black;
  }
  
  button.button2 {
    background-color: 8FC0A9; 
    color: FAF3DD; 
    border: 2px solid 68B0AB;
    align-self: center;
    background-image: url("https://images.unsplash.com/photo-1511954404553-67ad24c63441?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
    background-size:cover;
    background-repeat: no-repeat;
  }
  
  button.button2:hover {
    background-color: transparent;
    color: FAF3DD;
  }

  button.button3 {
        background-color: 8FC0A9; 
        color: FAF3DD; 
        border: 2px solid 68B0AB;
        
      }
      
      button.button3:hover {
        background-color: C8D5B9;
        color: FAF3DD;
  }

  button.button4 {
    background-color: 8FC0A9; 
    color: FAF3DD; 
    border: 2px solid 68B0AB;
    
  }
  
  button.button4:hover {
    background-color: C8D5B9;
    color: FAF3DD;
  }