@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  box-sizing: border-box;
  background-color:cadetblue;
  align-items:center;
  line-height:1;
  word-wrap: break-word;
}
h1{
    text-align:center;
    font-size: 116px;
    color:darkslategray;
}

p{
  text-align: center;
  font-size: 50px;
  color:white;
  
}

h2{
  text-align:center;
  font-size: 30px;
}

body {
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:auto;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 36px;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background:cadetblue; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkslategray; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:white; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  top: 0;
  width: 100%;
  position:relative;
}

li {
  float: left;
  border-radius: 1px solid darkslategray;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: darkslategray;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: aquamarine;
}

/* selected link */
a:active {
  color: aquamarine;
}
