@font-face {
  font-family: 'Inconsolata';
  src: url(Inconsolata-ExtraLight.ttf);
}


body {
    font-family: 'Inconsolata', monospace;
    font-weight: lighter;
    background-image: url('https://images.unsplash.com/uploads/1413259835094dcdeb9d3/6e609595?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-size: 100vw;
    background-attachment: fixed;
    
    
}

button{
  display: inline;
  align-content: center;
  justify-content: center;
  background-color: black;
  padding: 10pt;
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 28pt;
  border-color: white;
  opacity: 75%;
}

h1 {
    text-align: center;
    font-weight: lighter;
    color: white;
    font-size: 50pt;
    padding: 0;
}

.wrapper {
    height: auto;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

.typing-demo {
    width: 30ch;
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: 'Inconsolata';
    border-color: white;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.container {
    display: block;
    max-width: 75vw;
    margin: 0 auto;
    padding: 20px;
    color: white;
    font-size: 48pt;
    background-color: black;
    opacity: 70%;
}

p, a {
    color: white;
    line-height: 1.7em;
    font-size: 24pt;

}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color:lightseagreen;
}

::-webkit-scrollbar {
    color: gray;
    max-width: 25%;
}

::-webkit-scrollbar-track {
    color: black;
}


